extends layout

block styles
  link(rel="stylesheet", href="stylesheets/typeracer.css")

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
  script(src="javascripts/socket.io.js")
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src="javascripts/typeracer.js")
  script(src="https://unpkg.com/konva@3.4.1/konva.min.js")
  //- TRY KONVA
  script.
    var socket = io();

    var words = "!{data}".split(",");
    var wordCaret = 0;
    var score = 0;

    function getScore(str1,str2){
      let score = 0;
      str1 = str1.split("");
      str2 = str2.split("");
      for(var i=0; i<str1.length;i++){
        if(str1[i]==str2[i]){
          score++;
        }
      }
      return parseInt((score/str1.length)*100);
    }

    function setWord(){
      wordCaret = wordCaret < words.length ? wordCaret + 1 : 0
      $("#word").html(words[wordCaret]);
    }

    $("#send").on("click",function(e){
      score += getScore($("#word").html(),$("#answer").val());
      // MULTIPLAYER
      //- console.log(score);
      //- socket.emit("send",{
      //-   data:score
      //- });
      $("#answer").val("");
      setWord();
    });

    $(function(e){
      setWord();
    });

block content
  #content
    .controls
      #word
      input#answer(type="text",placeholder="Type here!")
    canvas#backdrop(width=1280,height=800)
